In [4]:
import pandas as pd
import numpy as np
import math
import csv

from FinMind.data import DataLoader
import talib

from mplfinance.original_flavor import candlestick_ohlc
import matplotlib.dates as mpl_dates
import matplotlib.pyplot as plt

from datetime import datetime
from io import StringIO
import pprint as pp

In [11]:
api_token = "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJkYXRlIjoiMjAyMS0xMi0yNyAxNDo1OTowOSIsInVzZXJfaWQiOiJkdXJhbnQ3MTA5MTYiLCJpcCI6IjE0MC4xMjAuMTMuMjMwIn0.8-KIC3-OA4D6JcOtQ_fJBOVkyugx60t1Gy82c57TLz4"

api = DataLoader()
api.login_by_token(api_token = api_token)

# 設定股票標的和開始/結束日期
#stock_id = "2330"
stock_id = "1301"
#stock_id = "2801"

# Training
start_date='2000-11-17'
end_date='2020-12-31'

# Testing
#start_date='2020-11-14'
#end_date='2021-12-31'


#start_date='2012-11-14'
#end_date='2020-12-31'


df = api.taiwan_stock_daily(
    stock_id = stock_id,
    start_date = start_date,
    end_date = end_date
)
df

,date,stock_id,Trading_Volume,Trading_money,open,max,min,close,spread,Trading_turnover
0,2000-11-17,1301,7985032,392529167,50.0,50.0,48.0,49.2,-0.8,2245
1,2000-11-18,1301,3230111,156376438,48.5,49.2,48.0,48.0,-1.2,1433
2,2000-11-20,1301,8244000,373026400,46.5,47.0,44.7,44.7,-3.3,2586
3,2000-11-21,1301,7320687,325036455,43.2,46.2,43.2,46.2,1.5,2814
4,2000-11-22,1301,12994418,605690235,46.2,47.6,45.3,46.5,0.3,3949
...,...,...,...,...,...,...,...,...,...,...
4972,2020-12-25,1301,4338064,403034055,92.5,93.1,92.5,92.8,0.2,1999
4973,2020-12-28,1301,5696343,532172566,93.1,94.0,92.9,93.8,1.0,3193
4974,2020-12-29,1301,7044302,658283071,93.8,94.2,92.6,94.0,0.2,4348
4975,2020-12-30,1301,16435157,1568933001,94.0,96.9,94.0,96.7,2.7,8535
4976,2020-12-31,1301,11844647,1145132212,96.7,98.0,96.1,96.4,-0.3,4781

In [13]:
df[14:34]

,date,stock_id,Trading_Volume,Trading_money,open,max,min,close,spread,Trading_turnover
16,2000-12-07,1301,8538401,416319865,48.0,49.6,47.9,48.9,0.5,1566
17,2000-12-08,1301,5969817,297203038,48.9,51.0,48.6,50.0,1.1,1847
18,2000-12-11,1301,4978911,251808053,49.5,51.0,49.5,50.5,0.5,1735
19,2000-12-12,1301,3679286,186039667,50.5,51.0,50.0,50.0,-0.5,1235
20,2000-12-13,1301,4822472,244641208,50.0,51.5,49.6,51.0,1.0,1611
21,2000-12-14,1301,2696892,136055088,50.5,51.0,50.0,51.0,0.0,841
22,2000-12-15,1301,2265840,112989987,50.0,50.5,49.5,49.5,-1.5,899
23,2000-12-16,1301,2002890,97005682,49.1,49.3,48.0,48.0,-1.5,979
24,2000-12-18,1301,1415000,67415700,47.8,48.0,47.3,47.5,-0.5,631
25,2000-12-19,1301,3788855,181821792,48.0,48.6,47.1,48.5,1.0,1336
26,2000-12-20,1301,6014531,294089977,49.3,49.5,48.2,48.4,-0.1,2066
27,2000-12-21,1301,4385157,207148597,47.5,48.0,47.0,47.1,-1.3,1380
28,2000-12-22,1301,4789539,228352909,47.2,48.1,47.2,48.0,0.9,1670
29,2000-12-26,1301,1358427,64753082,48.2,48.3,47.2,47.2,-0.8,643
30,2000-12-27,1301,3288795,151443941,47.2,47.2,45.6,45.6,-1.6,1171
31,2000-12-28,1301,5137763,231356139,45.1,46.2,44.1,45.9,0.3,1884
32,2000-12-29,1301,3937495,179635241,45.9,46.1,45.1,45.2,-0.7,1186
33,2000-12-30,1301,3742838,172123033,45.1,46.5,44.8,46.3,1.1,1371
34,2001-01-02,1301,7350000,354081500,46.5,48.6,46.5,48.5,2.2,2469
35,2001-01-03,1301,3115528,149014694,47.9,48.4,47.5,47.8,-0.7,1329

In [5]:
TaiwanStockInstitutionalInvestorsBuySell = api.taiwan_stock_institutional_investors(
    stock_id = stock_id,
    start_date = start_date,
    end_date = end_date
)

TaiwanStockInstitutionalInvestorsBuySell

            date stock_id       buy                 name      sell
0     2020-11-16     2603  30431000     Foreign_Investor  11065344
1     2020-11-16     2603         0  Foreign_Dealer_Self         0
2     2020-11-16     2603     77000     Investment_Trust   1963000
3     2020-11-16     2603   2220000          Dealer_self    888000
4     2020-11-16     2603         0       Dealer_Hedging         0
...          ...      ...       ...                  ...       ...
1385  2021-12-30     2603   6625365     Foreign_Investor  14470823
1386  2021-12-30     2603         0  Foreign_Dealer_Self         0
1387  2021-12-30     2603    215000     Investment_Trust   2848000
1388  2021-12-30     2603    277000          Dealer_self    353000
1389  2021-12-30     2603    120000       Dealer_Hedging    108124

[1390 rows x 5 columns]

In [96]:
# 股價日成交資訊
TaiwanStockPriceDay = api.taiwan_stock_daily(
    stock_id = stock_id,
    start_date = start_date,
    end_date = end_date
)

# 融資融券表
TaiwanStockMarginPurchaseShortSale = api.taiwan_stock_margin_purchase_short_sale(
    stock_id = stock_id,
    start_date = start_date,
    end_date = end_date
)

TaiwanStockPriceDay['ratio'] = TaiwanStockMarginPurchaseShortSale['ShortSaleTodayBalance'] / TaiwanStockMarginPurchaseShortSale['MarginPurchaseTodayBalance']


# 法人買賣表
TaiwanStockInstitutionalInvestorsBuySell = api.taiwan_stock_institutional_investors(
    stock_id = stock_id,
    start_date = start_date,
    end_date = end_date
)

Foreign_Investor = TaiwanStockInstitutionalInvestorsBuySell.loc[TaiwanStockInstitutionalInvestorsBuySell['name'] == 'Foreign_Investor']
Investment_Trust = TaiwanStockInstitutionalInvestorsBuySell.loc[TaiwanStockInstitutionalInvestorsBuySell['name'] == 'Investment_Trust']

# 加權指數
TaiwanStockTotalReturnIndex = api.taiwan_stock_total_return_index(
    index_id="TAIEX",
    start_date = start_date,
    end_date = end_date
)

TaiwanStockTotalReturnIndex


dateArray = TaiwanStockPriceDay['date']


buysell_list = []

for date in dateArray:
    Foreign_Investor = TaiwanStockInstitutionalInvestorsBuySell.loc[TaiwanStockInstitutionalInvestorsBuySell['date'] == date]
    if sum(Foreign_Investor['buy']) >= sum(Foreign_Investor['sell']):
        buysell_list.append(1)
    else:
        buysell_list.append(0)



total_data = []

i = 0

#for i in range(len(dateArray[dateArray > '2012-12-27'])):
#for i in range(len(dateArray[dateArray > '2020-12-30'])):
    #print(i)

piece = TaiwanStockPriceDay.iloc[i+14:i+34][['open', 'max', 'min', 'close','Trading_Volume']]
max_value = 0.8
min_value = 0.2

Max_Volume = piece['Trading_Volume'].max()
Min_Volume = piece['Trading_Volume'].min()
Max_Price = piece['max'].max()
Min_Price = piece['min'].min()

piece['max'] = min_value + (max_value - min_value) * (piece['max'] - Min_Price) / (Max_Price - Min_Price)
piece['min'] = min_value + (max_value - min_value) * (piece['min'] - Min_Price) / (Max_Price - Min_Price)
piece['open'] = min_value + (max_value - min_value) * (piece['open'] - Min_Price) / (Max_Price - Min_Price)
piece['close'] = min_value + (max_value - min_value) * (piece['close'] - Min_Price) / (Max_Price - Min_Price)
piece['Trading_Volume'] = min_value + (max_value - min_value) * (piece['Trading_Volume'] - Min_Volume) / (Max_Volume - Min_Volume)

piece['RSI'] = talib.RSI(TaiwanStockPriceDay.iloc[i:i+34]['close'], timeperiod=14)[14:]/100
piece['EMA'] = talib.EMA(TaiwanStockPriceDay.iloc[i:i+34]['close'], timeperiod=10)[14:]
piece['EMA'] = min_value + (max_value - min_value) * (piece['EMA'] - Min_Price) / (Max_Price - Min_Price)

piece['OBV'] = talib.OBV(TaiwanStockPriceDay.iloc[i+14:i+34]['close'], TaiwanStockPriceDay.iloc[i+14:i+34]['Trading_Volume'])
Max_OBV = piece['OBV'].max()
Min_OBV = piece['OBV'].min()
piece['OBV'] = min_value + (max_value - min_value) * (piece['OBV'] - Min_OBV) / (Max_OBV - Min_OBV)

Max_TAIEX = TaiwanStockTotalReturnIndex[i+14:i+34]['price'].max()
Min_TAIEX = TaiwanStockTotalReturnIndex[i+14:i+34]['price'].min()
piece['TAIEX'] = min_value + (max_value - min_value) * (TaiwanStockTotalReturnIndex[i+14:i+34]['price'] - Min_TAIEX) / (Max_TAIEX - Min_TAIEX)


piece['RGZRATIO'] = TaiwanStockPriceDay['ratio'][i+14:i+34]


#piece['ForeignBuy'] = Foreign_Investor['buy'][i+14:i+34]
#piece['ForeignSell'] = Foreign_Investor['sell'][i+14:i+34]
#piece['TrustBuy'] = Investment_Trust['buy'][i+14:i+34]
#piece['TrustSell'] = Investment_Trust['sell'][i+14:i+34]

piece['OverBoughtSold'] = np.array(buysell_list)[i+14:i+34]
#piece['OverBoughtSold'] = pd.Series(np.array(buysell_list)[i+29:i+34])

#len(np.array(buysell_list))


test = piece.values.flatten()

#total_data.append(test)
piece

,open,max,min,close,Trading_Volume,RSI,EMA,OBV,TAIEX,RGZRATIO,OverBoughtSold
14,0.733333,0.783333,0.700000,0.733333,0.705384,0.523810,0.824357,0.800000,0.717818,0.098039,1
15,0.800000,0.800000,0.650000,0.683333,0.800000,0.498258,0.798717,0.591519,0.800000,0.100325,1
16,0.633333,0.750000,0.633333,0.733333,0.488970,0.523300,0.786829,0.702329,0.779363,0.098477,1
17,0.733333,0.750000,0.700000,0.733333,0.263149,0.523300,0.777102,0.702329,0.697950,0.073205,1
18,0.733333,0.733333,0.650000,0.666667,0.561233,0.485806,0.757023,0.568827,0.738849,0.075355,1
19,0.700000,0.733333,0.666667,0.683333,0.358736,0.495537,0.743625,0.638740,0.564379,0.069041,1
20,0.666667,0.683333,0.616667,0.633333,0.505153,0.466984,0.723572,0.522848,0.470015,0.074290,1
21,0.600000,0.616667,0.566667,0.600000,0.436924,0.448433,0.701104,0.428383,0.382098,0.076857,1
22,0.550000,0.583333,0.550000,0.566667,0.338566,0.430036,0.676661,0.364804,0.358185,0.078020,1
23,0.566667,0.616667,0.550000,0.583333,0.336611,0.442355,0.659692,0.427769,0.363844,0.089980,1
24,0.616667,0.616667,0.550000,0.600000,0.274559,0.455039,0.648839,0.471248,0.251505,0.084378,1
25,0.616667,0.650000,0.566667,0.633333,0.452991,0.480491,0.646020,0.570759,0.238084,0.093525,1
26,0.633333,0.633333,0.566667,0.583333,0.326709,0.446784,0.634622,0.510903,0.440915,0.070236,1
27,0.533333,0.550000,0.500000,0.500000,0.323960,0.396818,0.610146,0.451911,0.345052,0.057963,1
28,0.450000,0.550000,0.416667,0.450000,0.453242,0.370076,0.581028,0.352322,0.292711,0.058114,1
29,0.466667,0.466667,0.366667,0.366667,0.346436,0.330142,0.542053,0.286271,0.292586,0.046296,1
30,0.300000,0.300000,0.283333,0.283333,0.200000,0.295772,0.495013,0.266206,0.290319,0.059259,1
31,0.200000,0.350000,0.200000,0.350000,0.709193,0.353737,0.468647,0.446171,0.348789,0.098728,1
32,0.300000,0.316667,0.266667,0.266667,0.709589,0.318452,0.431924,0.266082,0.200000,0.289891,1
33,0.266667,0.266667,0.200000,0.233333,0.346536,0.305332,0.395816,0.200000,0.202248,0.234800,1

In [128]:
len(dateArray[dateArray > '2000-12-30'])

4893

In [15]:
day_length = 20
stock_list = ['2330', '2603', '2002','1301', '2801']
for stock_id in stock_list:
    df2 = pd.read_csv('./data/Input/' + stock_id + '_input_train_' + str(day_length) + '_NEW.csv',header=None)
    print(len(df2), len(df2.iloc[0]) ,len(df2.iloc[-1]))

4944 220 220
4944 220 220
4944 220 220
4944 220 220
4944 220 220

In [18]:
stock_id = '2330'
df2 = pd.read_csv('./data/Input/' + stock_id + '_input_train_' + str(day_length) + '_NEW.csv',header=None)
df2

,0,1,2,3,4,5,6,7,8,9,...,210,211,212,213,214,215,216,217,218,219
0,0.584615,0.661538,0.584615,0.630769,0.514368,0.371795,0.693180,0.583692,0.717818,0.099106,...,0.384615,0.307692,0.323077,0.283540,0.346628,0.378674,0.200000,0.202248,0.049613,1.0
1,0.800000,0.800000,0.630769,0.646154,0.662341,0.428571,0.681040,0.675114,0.800000,0.094862,...,0.476923,0.292308,0.476923,0.619801,0.469314,0.396459,0.285190,0.200000,0.041981,1.0
2,0.670270,0.735135,0.654054,0.735135,0.549182,0.548387,0.709826,0.750014,0.800000,0.103082,...,0.459459,0.362162,0.394595,0.624449,0.444419,0.404757,0.200000,0.290481,0.063997,1.0
3,0.735135,0.751351,0.686486,0.702703,0.343753,0.423077,0.714260,0.688537,0.756171,0.076471,...,0.572973,0.491892,0.540541,0.800000,0.499995,0.429571,0.381497,0.269229,0.072436,1.0
4,0.735135,0.751351,0.686486,0.702703,0.329296,0.478261,0.713132,0.688537,0.800000,0.067071,...,0.718919,0.540541,0.718919,0.701307,0.589825,0.482202,0.537032,0.200000,0.057993,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4939,0.368539,0.375281,0.200000,0.200000,0.800000,0.676647,0.234562,0.200000,NaN,NaN,...,0.665169,0.597753,0.611236,0.200000,0.615307,0.595259,0.737840,NaN,NaN,1.0
4940,0.286747,0.293976,0.200000,0.293976,0.524524,0.689655,0.219102,0.200000,NaN,NaN,...,0.655422,0.568675,0.655422,0.287426,0.630747,0.594247,0.794352,NaN,NaN,1.0
4941,0.314286,0.323810,0.200000,0.304762,0.800000,0.715789,0.097127,0.356224,NaN,NaN,...,0.647619,0.571429,0.609524,0.296319,0.630735,0.543877,0.793425,NaN,NaN,1.0
4942,0.290000,0.290000,0.200000,0.240000,0.548607,0.688172,0.110415,0.200000,NaN,NaN,...,0.800000,0.580000,0.800000,0.688766,0.679463,0.580322,0.800000,NaN,NaN,1.0
4943,0.218462,0.338462,0.200000,0.301538,0.800000,0.623377,0.128979,0.282454,NaN,NaN,...,0.800000,0.689231,0.800000,0.466301,0.677858,0.558917,0.800000,NaN,NaN,1.0

In [ ]:
df