# Step 1: 套件匯入

In [1]:
import pandas as pd
import numpy as np
import math
import csv

from FinMind.data import DataLoader
import talib

from mplfinance.original_flavor import candlestick_ohlc
import matplotlib.dates as mpl_dates
import matplotlib.pyplot as plt

from datetime import datetime
from io import StringIO
import pprint as pp

# Step 2: 資料引入

使用 FinMind 套件獲取資料

## 1. 股價日成交資訊

In [2]:
api_token = "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJkYXRlIjoiMjAyMS0xMi0yNyAxNDo1OTowOSIsInVzZXJfaWQiOiJkdXJhbnQ3MTA5MTYiLCJpcCI6IjE0MC4xMjAuMTMuMjMwIn0.8-KIC3-OA4D6JcOtQ_fJBOVkyugx60t1Gy82c57TLz4"

api = DataLoader()
api.login_by_token(api_token = api_token)

# 設定股票標的和開始/結束日期
#stock_id = "2881"
#stock_id = "2002"
stock_id = "2330"
#start_date='2011-12-05'
start_date='2012-11-14'
end_date='2020-12-31'

# 股價日成交資訊
TaiwanStockPriceDay = api.taiwan_stock_daily(
    stock_id = stock_id,
    start_date = start_date,
    end_date = end_date
)

TaiwanStockPriceDay

,date,stock_id,Trading_Volume,Trading_money,open,max,min,close,spread,Trading_turnover
0,2012-11-14,2330,31098501,2811100212,90.0,90.9,89.5,90.5,0.2,6542
1,2012-11-15,2330,25096315,2259688850,89.9,90.6,89.0,90.2,-0.3,6977
2,2012-11-16,2330,33802911,3035657490,89.2,90.3,89.2,90.2,0.0,6953
3,2012-11-19,2330,24008686,2163252687,89.7,90.5,89.7,90.0,-0.2,6294
4,2012-11-20,2330,21474874,1936744971,90.0,90.4,89.8,90.4,0.4,5637
...,...,...,...,...,...,...,...,...,...,...
1991,2020-12-25,2330,12581145,6449612552,514.0,515.0,510.0,511.0,1.0,14988
1992,2020-12-28,2330,19520886,10023145125,512.0,515.0,509.0,515.0,4.0,16675
1993,2020-12-29,2330,20226736,10409159045,515.0,517.0,513.0,515.0,0.0,17187
1994,2020-12-30,2330,46705107,24306881615,516.0,525.0,514.0,525.0,10.0,33173
1995,2020-12-31,2330,31173332,16437646054,526.0,530.0,524.0,530.0,5.0,25138

## 2. 融資融券表

In [3]:
# 融資融券表
TaiwanStockMarginPurchaseShortSale = api.taiwan_stock_margin_purchase_short_sale(
    stock_id = stock_id,
    start_date = start_date,
    end_date = end_date
)

TaiwanStockMarginPurchaseShortSale

,date,stock_id,MarginPurchaseBuy,MarginPurchaseCashRepayment,MarginPurchaseLimit,MarginPurchaseSell,MarginPurchaseTodayBalance,MarginPurchaseYesterdayBalance,Note,OffsetLoanAndShort,ShortSaleBuy,ShortSaleCashRepayment,ShortSaleLimit,ShortSaleSell,ShortSaleTodayBalance,ShortSaleYesterdayBalance
0,2012-11-14,2330,522,2,6480690,597,10223,10300,,295,39,0,6480690,99,7983,7923
1,2012-11-15,2330,930,2,6480690,735,10416,10223,,698,98,0,6480690,44,7929,7983
2,2012-11-16,2330,354,0,6480690,497,10273,10416,,152,142,0,6480690,61,7848,7929
3,2012-11-19,2330,209,1,6480690,347,10134,10273,,147,68,201,6480690,88,7667,7848
4,2012-11-20,2330,374,21,6480690,431,10056,10134,,181,86,0,6480690,46,7627,7667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1991,2020-12-25,2330,854,29,6482595,414,24809,24398,,1,9,0,6482595,8,399,400
1992,2020-12-28,2330,594,30,6482595,1207,24166,24809,,0,13,8,6482595,6,384,399
1993,2020-12-29,2330,424,43,6482595,702,23845,24166,,0,10,0,6482595,9,383,384
1994,2020-12-30,2330,1721,14,6482595,1971,23581,23845,,2,8,0,6482595,102,477,383
1995,2020-12-31,2330,1350,18,6482595,1980,22933,23581,,3,40,0,6482595,154,591,477

## 3. 法人買賣表

In [4]:
# 法人買賣表
TaiwanStockInstitutionalInvestorsBuySell = api.taiwan_stock_institutional_investors(
    stock_id = stock_id,
    start_date = start_date,
    end_date = end_date
)

TaiwanStockInstitutionalInvestorsBuySell

            date stock_id       buy                 name      sell
0     2012-11-14     2330  23256527     Foreign_Investor  23832077
1     2012-11-14     2330    637000     Investment_Trust     74000
2     2012-11-14     2330    318000               Dealer   1125000
3     2012-11-15     2330  15645000     Foreign_Investor  15754890
4     2012-11-15     2330    806000     Investment_Trust    209000
...          ...      ...       ...                  ...       ...
8233  2020-12-31     2330  18676699     Foreign_Investor  14068882
8234  2020-12-31     2330         0  Foreign_Dealer_Self         0
8235  2020-12-31     2330    458000     Investment_Trust     39000
8236  2020-12-31     2330    495000          Dealer_self    356000
8237  2020-12-31     2330    133000       Dealer_Hedging    126173

[8238 rows x 5 columns]

## 4. 加權指數

In [5]:
TaiwanStockTotalReturnIndex = api.taiwan_stock_total_return_index(
    index_id="TAIEX",
    start_date = start_date,
    end_date = end_date
)

TaiwanStockTotalReturnIndex

         price index_id        date
0     10275.50    TAIEX  2012-11-14
1     10252.65    TAIEX  2012-11-15
2     10232.89    TAIEX  2012-11-16
3     10231.42    TAIEX  2012-11-19
4     10255.43    TAIEX  2012-11-20
...        ...      ...         ...
1991  27667.00    TAIEX  2020-12-25
1992  27959.77    TAIEX  2020-12-28
1993  27938.50    TAIEX  2020-12-29
1994  28354.81    TAIEX  2020-12-30
1995  28441.36    TAIEX  2020-12-31

[1996 rows x 3 columns]

# Step 3: 建立具體Input資料

## 1. 日線標準化

In [6]:
# Start Date 20
# TaiwanStockPriceDay.iloc[i+14:i+34]
# 移動式正規化
# min: 0.2 max: 0.8

pp.pprint(TaiwanStockPriceDay.iloc[14:34])
piece = TaiwanStockPriceDay.iloc[14:34][['open', 'max', 'min', 'close','Trading_Volume']]
max_value = 0.8
min_value = 0.2

Max_Volume = piece['Trading_Volume'].max()
Min_Volume = piece['Trading_Volume'].min()
Max_Price = piece['max'].max()
Min_Price = piece['min'].min()
print(Max_Price, Min_Price)


piece['max'] = min_value + (max_value - min_value) * (piece['max'] - Min_Price) / (Max_Price - Min_Price)
piece['min'] = min_value + (max_value - min_value) * (piece['min'] - Min_Price) / (Max_Price - Min_Price)
piece['open'] = min_value + (max_value - min_value) * (piece['open'] - Min_Price) / (Max_Price - Min_Price)
piece['close'] = min_value + (max_value - min_value) * (piece['close'] - Min_Price) / (Max_Price - Min_Price)
piece['Trading_Volume'] = min_value + (max_value - min_value) * (piece['Trading_Volume'] - Min_Volume) / (Max_Volume - Min_Volume)
pp.pprint(piece)

          date stock_id  Trading_Volume  Trading_money  open   max   min  \
14  2012-12-04     2330        43075268     4147396261  96.9  97.2  95.3
15  2012-12-05     2330        60542922     5812102471  94.6  97.1  94.6
16  2012-12-06     2330        33501484     3236359575  96.6  96.9  96.1
17  2012-12-07     2330        37114121     3636255890  97.1  98.5  97.1
18  2012-12-10     2330        30865940     2996197439  97.9  98.0  96.5
19  2012-12-11     2330        40668489     3972651022  97.3  98.3  96.7
20  2012-12-12     2330        42272408     4143972704  98.3  98.5  97.2
21  2012-12-13     2330        45585236     4499194209  98.3  99.4  97.9
22  2012-12-14     2330        34112762     3352051425  98.2  98.6  97.5
23  2012-12-17     2330        46715917     4526485549  96.4  97.7  96.2
24  2012-12-18     2330        35430802     3409270783  95.0  96.7  95.0
25  2012-12-19     2330        27889579     2701305036  96.7  97.3  96.2
26  2012-12-20     2330        35517115     3409134340  96.1  96.9  95.1
27  2012-12-21     2330        34754207     3303552359  95.1  96.5  94.6
28  2012-12-22     2330         8384951      803332094  95.7  96.2  95.0
29  2012-12-24     2330        17215850     1646053359  96.0  96.4  95.1
30  2012-12-25     2330        16006069     1543165588  96.0  97.3  95.6
31  2012-12-26     2330        12055449     1164163504  96.5  97.3  96.0
32  2012-12-27     2330        24204700     2319460051  96.2  96.7  95.5
33  2012-12-28     2330        25705388     2483313883  96.8  97.0  95.9

    close  spread  Trading_turnover
14   96.6    -1.3             13639
15   96.9     0.3             15177
16   96.6    -0.3              9439
17   98.1     1.5             11574
18   96.5    -1.6              8883
19   98.3     1.8             12010
20   98.4     0.1             10100
21   99.2     0.8             11536
22   98.4    -0.8              9201
23   97.0    -1.4             12256
24   96.7    -0.3             10534
25   97.3     0.6              8341
26   96.0    -1.3             10738
27   94.8    -1.2             10874
28   95.7     0.9              3112
29   95.2    -0.5              5291
30   96.5     1.3              5358
31   96.0    -0.5              5045
32   95.6    -0.4              5925
33   97.0     1.4              7825
99.4 94.6
      open     max     min   close  Trading_Volume
14  0.4875  0.5250  0.2875  0.4500        0.599061
15  0.2000  0.5125  0.2000  0.4875        0.800000
16  0.4500  0.4875  0.3875  0.4500        0.488928
17  0.5125  0.6875  0.5125  0.6375        0.530486
18  0.6125  0.6250  0.4375  0.4375        0.458610
19  0.5375  0.6625  0.4625  0.6625        0.571374
20  0.6625  0.6875  0.5250  0.6750        0.589825
21  0.6625  0.8000  0.6125  0.7750        0.627934
22  0.6500  0.7000  0.5625  0.6750        0.495960
23  0.4250  0.5875  0.4000  0.5000        0.640941
24  0.2500  0.4625  0.2500  0.4625        0.511122
25  0.4625  0.5375  0.4000  0.5375        0.424372
26  0.3875  0.4875  0.2625  0.3750        0.512115
27  0.2625  0.4375  0.2000  0.2250        0.503339
28  0.3375  0.4000  0.2500  0.3375        0.200000
29  0.3750  0.4250  0.2625  0.2750        0.301586
30  0.3750  0.5375  0.3250  0.4375        0.287670
31  0.4375  0.5375  0.3750  0.3750        0.242224
32  0.4000  0.4625  0.3125  0.3250        0.381983
33  0.4750  0.5000  0.3625  0.5000        0.399246

## 2. 技術指標

* RSI 14
* EMA 10

In [19]:
piece['RSI'] = talib.RSI(TaiwanStockPriceDay.iloc[0:34]['close'], timeperiod=14)[14:]/100
piece['EMA'] = talib.EMA(TaiwanStockPriceDay.iloc[0:34]['close'], timeperiod=10)[14:]
piece['EMA'] = min_value + (max_value - min_value) * (piece['EMA'] - Min_Price) / (Max_Price - Min_Price)

#df = pd.Series.rolling(TaiwanStockPriceDay.iloc[0:34]['close'], window=6).mean()[14:]
#piece['BIAS'] = (TaiwanStockPriceDay.iloc[14:34]['close'] - df )/df
piece['OBV'] = talib.OBV(TaiwanStockPriceDay.iloc[14:34]['close'], TaiwanStockPriceDay.iloc[14:34]['Trading_Volume'])
Max_OBV = piece['OBV'].max()
Min_OBV = piece['OBV'].min()
piece['OBV'] = min_value + (max_value - min_value) * (piece['OBV'] - Min_OBV) / (Max_OBV - Min_OBV)

Max_TAIEX = TaiwanStockTotalReturnIndex[14:34]['price'].max()
Min_TAIEX = TaiwanStockTotalReturnIndex[14:34]['price'].min()
piece['TAIEX'] = min_value + (max_value - min_value) * (TaiwanStockTotalReturnIndex[0:34]['price'] - Min_TAIEX) / (Max_TAIEX - Min_TAIEX)
piece

,open,max,min,close,Trading_Volume,RSI,EMA,OBV,TAIEX
14,0.4875,0.5250,0.2875,0.4500,0.599061,0.744000,0.287843,0.282814,0.405083
15,0.2000,0.5125,0.2000,0.4875,0.800000,0.750450,0.324144,0.476317,0.526680
16,0.4500,0.4875,0.3875,0.4500,0.488928,0.730626,0.347027,0.369242,0.461439
17,0.5125,0.6875,0.5125,0.6375,0.530486,0.764171,0.399841,0.487864,0.509510
18,0.6125,0.6250,0.4375,0.4375,0.458610,0.668538,0.406688,0.389212,0.426606
19,0.5375,0.6625,0.4625,0.6625,0.571374,0.712177,0.453199,0.519194,0.437218
20,0.6625,0.6875,0.5250,0.6750,0.589825,0.714427,0.493526,0.654303,0.630755
21,0.6625,0.8000,0.6125,0.7750,0.627934,0.732442,0.544703,0.800000,0.800000
22,0.6500,0.7000,0.5625,0.6750,0.495960,0.685847,0.568394,0.690971,0.652472
23,0.4250,0.5875,0.4000,0.5000,0.640941,0.612423,0.555959,0.541660,0.481711
24,0.2500,0.4625,0.2500,0.4625,0.511122,0.597658,0.538966,0.428418,0.513230
25,0.4625,0.5375,0.4000,0.5375,0.424372,0.617519,0.538700,0.517557,0.598584
26,0.3875,0.4875,0.2625,0.3750,0.512115,0.553737,0.508936,0.404039,0.391104
27,0.2625,0.4375,0.2000,0.2250,0.503339,0.502176,0.457311,0.292960,0.200000
28,0.3375,0.4000,0.2500,0.3375,0.200000,0.536998,0.435527,0.319759,0.251156
29,0.3750,0.4250,0.2625,0.2750,0.301586,0.515427,0.406341,0.264735,0.239451
30,0.3750,0.5375,0.3250,0.4375,0.287670,0.564418,0.412006,0.315893,0.495108
31,0.4375,0.5375,0.3750,0.3750,0.242224,0.541732,0.405278,0.277362,0.489097
32,0.4000,0.4625,0.3125,0.3250,0.381983,0.523601,0.390682,0.200000,0.525076
33,0.4750,0.5000,0.3625,0.5000,0.399246,0.576967,0.410558,0.282158,0.654323

## 3. 籌碼面
### 1. 融資融券表

In [20]:
# MarginPurchaseTodayBalance
# MarginPurchaseBuy - MarginPurchaseSell - MarginPurchaseCashRepayment
# ShortSaleTodayBalance 
# ShortSaleBuy - ShortSaleSell -ShortSaleCashRepayment

# TaiwanStockMarginPurchaseShortSale['MarginIncrease'] = TaiwanStockMarginPurchaseShortSale['MarginPurchaseBuy'] - TaiwanStockMarginPurchaseShortSale['MarginPurchaseSell'] - TaiwanStockMarginPurchaseShortSale['MarginPurchaseCashRepayment']


# TaiwanStockMarginPurchaseShortSale[14:34][['MarginPurchaseTodayBalance', 'ShortSaleTodayBalance']]

#MarginMax = TaiwanStockMarginPurchaseShortSale['MarginPurchaseTodayBalance'].max()
#ShortMax = TaiwanStockMarginPurchaseShortSale['ShortSaleTodayBalance'].max()
#piece['MarginPurchaseTodayBalance'] = (TaiwanStockMarginPurchaseShortSale['MarginPurchaseTodayBalance']/MarginMax)[14:34]
#piece['ShortSaleTodayBalance'] = (TaiwanStockMarginPurchaseShortSale['ShortSaleTodayBalance']/ShortMax)[14:34]

over_bought_sold = []

for t in TaiwanStockPriceDay['date']:
    filt = (TaiwanStockInstitutionalInvestorsBuySell['date'] == t)
    diff = sum(TaiwanStockInstitutionalInvestorsBuySell.loc[filt]['buy']) - sum(TaiwanStockInstitutionalInvestorsBuySell.loc[filt]['sell'])    
    over_bought_sold.append(diff)

TaiwanStockPriceDay['ratio'] = TaiwanStockMarginPurchaseShortSale['ShortSaleTodayBalance'] / TaiwanStockMarginPurchaseShortSale['MarginPurchaseTodayBalance'][14:34]
TaiwanStockPriceDay['diff'] = np.array(over_bought_sold)

piece['RGZRATIO'] = TaiwanStockPriceDay['ratio']

piece

,open,max,min,close,Trading_Volume,RSI,EMA,OBV,TAIEX,RGZRATIO
14,0.4875,0.5250,0.2875,0.4500,0.599061,0.744000,0.287843,0.282814,0.405083,0.468276
15,0.2000,0.5125,0.2000,0.4875,0.800000,0.750450,0.324144,0.476317,0.526680,0.472135
16,0.4500,0.4875,0.3875,0.4500,0.488928,0.730626,0.347027,0.369242,0.461439,0.473608
17,0.5125,0.6875,0.5125,0.6375,0.530486,0.764171,0.399841,0.487864,0.509510,0.587373
18,0.6125,0.6250,0.4375,0.4375,0.458610,0.668538,0.406688,0.389212,0.426606,0.525673
19,0.5375,0.6625,0.4625,0.6625,0.571374,0.712177,0.453199,0.519194,0.437218,0.606356
20,0.6625,0.6875,0.5250,0.6750,0.589825,0.714427,0.493526,0.654303,0.630755,0.657085
21,0.6625,0.8000,0.6125,0.7750,0.627934,0.732442,0.544703,0.800000,0.800000,0.554733
22,0.6500,0.7000,0.5625,0.6750,0.495960,0.685847,0.568394,0.690971,0.652472,0.572523
23,0.4250,0.5875,0.4000,0.5000,0.640941,0.612423,0.555959,0.541660,0.481711,0.501683
24,0.2500,0.4625,0.2500,0.4625,0.511122,0.597658,0.538966,0.428418,0.513230,0.465108
25,0.4625,0.5375,0.4000,0.5375,0.424372,0.617519,0.538700,0.517557,0.598584,0.481395
26,0.3875,0.4875,0.2625,0.3750,0.512115,0.553737,0.508936,0.404039,0.391104,0.463098
27,0.2625,0.4375,0.2000,0.2250,0.503339,0.502176,0.457311,0.292960,0.200000,0.437203
28,0.3375,0.4000,0.2500,0.3375,0.200000,0.536998,0.435527,0.319759,0.251156,0.461139
29,0.3750,0.4250,0.2625,0.2750,0.301586,0.515427,0.406341,0.264735,0.239451,0.453224
30,0.3750,0.5375,0.3250,0.4375,0.287670,0.564418,0.412006,0.315893,0.495108,0.477024
31,0.4375,0.5375,0.3750,0.3750,0.242224,0.541732,0.405278,0.277362,0.489097,0.500435
32,0.4000,0.4625,0.3125,0.3250,0.381983,0.523601,0.390682,0.200000,0.525076,0.472219
33,0.4750,0.5000,0.3625,0.5000,0.399246,0.576967,0.410558,0.282158,0.654323,0.482437

### 2. 法人買賣表

In [21]:
dateArray = TaiwanStockPriceDay['date']

#Foreign_Investor = TaiwanStockInstitutionalInvestorsBuySell.loc[TaiwanStockInstitutionalInvestorsBuySell['name'] == 'Foreign_Investor']
#Foreign_Dealer_Self = TaiwanStockInstitutionalInvestorsBuySell.loc[TaiwanStockInstitutionalInvestorsBuySell['name'] == 'Foreign_Dealer_Self']
#Investment_Trust = TaiwanStockInstitutionalInvestorsBuySell.loc[TaiwanStockInstitutionalInvestorsBuySell['name'] == 'Investment_Trust']
#Dealer = TaiwanStockInstitutionalInvestorsBuySell.loc[TaiwanStockInstitutionalInvestorsBuySell['name'] == 'Dealer']
#Dealer_self = TaiwanStockInstitutionalInvestorsBuySell.loc[TaiwanStockInstitutionalInvestorsBuySell['name'] == 'Dealer_self']
#Dealer_Hedging = TaiwanStockInstitutionalInvestorsBuySell.loc[TaiwanStockInstitutionalInvestorsBuySell['name'] == 'Dealer_Hedging']

#Foreign_Investor # 1999 2012-11-14~2020-12-31
#Foreign_Dealer_Self #746 2017-12-18~2020-12-31
#Investment_Trust # 1999 2012-11-14~2020-12-31

# Dealer # 504 2012-11-14~2014-11-28
# Dealer_self #1495 2014-12-01~2020-12-31
# Dealer_Hedging

#temp = TaiwanStockInstitutionalInvestorsBuySell.loc[TaiwanStockInstitutionalInvestorsBuySell['name'] == 'Foreign_Investor'].loc[TaiwanStockInstitutionalInvestorsBuySell['date']>=dateArray[14]].loc[TaiwanStockInstitutionalInvestorsBuySell['date']<dateArray[34]]
#temp

buysell_list = []

for date in dateArray:
    Foreign_Investor = TaiwanStockInstitutionalInvestorsBuySell.loc[TaiwanStockInstitutionalInvestorsBuySell['date'] == date]
    if sum(Foreign_Investor['buy']) >= sum(Foreign_Investor['sell']):
        buysell_list.append(1)
    else:
        buysell_list.append(0)

piece['OverBoughtSold'] = np.array(buysell_list)[14:34]




#Foreign_Investor = TaiwanStockInstitutionalInvestorsBuySell.loc[TaiwanStockInstitutionalInvestorsBuySell['name'] == 'Foreign_Investor']
#Investment_Trust = TaiwanStockInstitutionalInvestorsBuySell.loc[TaiwanStockInstitutionalInvestorsBuySell['name'] == 'Investment_Trust']

#for d in set(Foreign_Investor['date']) - set(dateArray):
#    Foreign_Investor = Foreign_Investor.drop(Foreign_Investor[Foreign_Investor['date'] == d].index)
#    Investment_Trust = Investment_Trust.drop(Investment_Trust[Investment_Trust['date'] == d].index)

#Foreign_Investor = Foreign_Investor.reset_index()
#Investment_Trust = Investment_Trust.reset_index()

#def get_max(buy, sell):
#    if buy > sell:
#        return buy 
#    else:
#        return sell

#ForeignInvestorMax = get_max(Foreign_Investor['buy'].max(), Foreign_Investor['sell'].max())
#InvestmentTrustMax = get_max(Investment_Trust['buy'].max(), Investment_Trust['sell'].max())

#Foreign_Investor['buy'] = Foreign_Investor['buy']/ForeignInvestorMax
#Foreign_Investor['sell'] = Foreign_Investor['sell']/ForeignInvestorMax
#Investment_Trust['buy'] = Investment_Trust['buy']/InvestmentTrustMax
#Investment_Trust['sell'] = Investment_Trust['sell']/InvestmentTrustMax



#piece['ForeignBuy'] = Foreign_Investor['buy'][14:34]
#piece['ForeignSell'] = Foreign_Investor['sell'][14:34]
#piece['TrustBuy'] = Investment_Trust['buy'][14:34]
#piece['TrustSell'] = Investment_Trust['sell'][14:34]
piece

,open,max,min,close,Trading_Volume,RSI,EMA,OBV,TAIEX,RGZRATIO,OverBoughtSold
14,0.4875,0.5250,0.2875,0.4500,0.599061,0.744000,0.287843,0.282814,0.405083,0.468276,0
15,0.2000,0.5125,0.2000,0.4875,0.800000,0.750450,0.324144,0.476317,0.526680,0.472135,0
16,0.4500,0.4875,0.3875,0.4500,0.488928,0.730626,0.347027,0.369242,0.461439,0.473608,1
17,0.5125,0.6875,0.5125,0.6375,0.530486,0.764171,0.399841,0.487864,0.509510,0.587373,1
18,0.6125,0.6250,0.4375,0.4375,0.458610,0.668538,0.406688,0.389212,0.426606,0.525673,0
19,0.5375,0.6625,0.4625,0.6625,0.571374,0.712177,0.453199,0.519194,0.437218,0.606356,1
20,0.6625,0.6875,0.5250,0.6750,0.589825,0.714427,0.493526,0.654303,0.630755,0.657085,1
21,0.6625,0.8000,0.6125,0.7750,0.627934,0.732442,0.544703,0.800000,0.800000,0.554733,1
22,0.6500,0.7000,0.5625,0.6750,0.495960,0.685847,0.568394,0.690971,0.652472,0.572523,1
23,0.4250,0.5875,0.4000,0.5000,0.640941,0.612423,0.555959,0.541660,0.481711,0.501683,0
24,0.2500,0.4625,0.2500,0.4625,0.511122,0.597658,0.538966,0.428418,0.513230,0.465108,0
25,0.4625,0.5375,0.4000,0.5375,0.424372,0.617519,0.538700,0.517557,0.598584,0.481395,1
26,0.3875,0.4875,0.2625,0.3750,0.512115,0.553737,0.508936,0.404039,0.391104,0.463098,0
27,0.2625,0.4375,0.2000,0.2250,0.503339,0.502176,0.457311,0.292960,0.200000,0.437203,0
28,0.3375,0.4000,0.2500,0.3375,0.200000,0.536998,0.435527,0.319759,0.251156,0.461139,1
29,0.3750,0.4250,0.2625,0.2750,0.301586,0.515427,0.406341,0.264735,0.239451,0.453224,1
30,0.3750,0.5375,0.3250,0.4375,0.287670,0.564418,0.412006,0.315893,0.495108,0.477024,1
31,0.4375,0.5375,0.3750,0.3750,0.242224,0.541732,0.405278,0.277362,0.489097,0.500435,1
32,0.4000,0.4625,0.3125,0.3250,0.381983,0.523601,0.390682,0.200000,0.525076,0.472219,1
33,0.4750,0.5000,0.3625,0.5000,0.399246,0.576967,0.410558,0.282158,0.654323,0.482437,1

In [22]:
test = piece.values.flatten()
test

array([0.4875    , 0.525     , 0.2875    , 0.45      , 0.59906058,
       0.744     , 0.28784328, 0.28281354, 0.4050827 , 0.46827595,
       0.        , 0.2       , 0.5125    , 0.2       , 0.4875    ,
       0.8       , 0.75044991, 0.3241445 , 0.47631744, 0.52667979,
       0.47213548, 0.        , 0.45      , 0.4875    , 0.3875    ,
       0.45      , 0.48892841, 0.73062581, 0.34702732, 0.36924187,
       0.46143902, 0.47360819, 1.        , 0.5125    , 0.6875    ,
       0.5125    , 0.6375    , 0.53048644, 0.76417055, 0.39984053,
       0.48786395, 0.50951024, 0.58737317, 1.        , 0.6125    ,
       0.625     , 0.4375    , 0.4375    , 0.45861039, 0.66853758,
       0.40668771, 0.38921196, 0.42660634, 0.52567314, 0.        ,
       0.5375    , 0.6625    , 0.4625    , 0.6625    , 0.57137416,
       0.71217709, 0.45319903, 0.51919431, 0.43721832, 0.60635565,
       1.        , 0.6625    , 0.6875    , 0.525     , 0.675     ,
       0.58982487, 0.71442654, 0.49352648, 0.65430302, 0.63075477,
       0.65708479, 1.        , 0.6625    , 0.8       , 0.6125    ,
       0.775     , 0.62793404, 0.73244191, 0.54470349, 0.8       ,
       0.8       , 0.55473282, 1.        , 0.65      , 0.7       ,
       0.5625    , 0.675     , 0.49596026, 0.68584713, 0.56839376,
       0.6909707 , 0.65247231, 0.57252347, 1.        , 0.425     ,
       0.5875    , 0.4       , 0.5       , 0.64094084, 0.61242308,
       0.55595853, 0.54165989, 0.48171108, 0.50168309, 0.        ,
       0.25      , 0.4625    , 0.25      , 0.4625    , 0.51112235,
       0.59765781, 0.53896607, 0.42841794, 0.51322972, 0.46510814,
       0.        , 0.4625    , 0.5375    , 0.4       , 0.5375    ,
       0.42437178, 0.6175194 , 0.53869951, 0.51755706, 0.59858389,
       0.48139521, 1.        , 0.3875    , 0.4875    , 0.2625    ,
       0.375     , 0.51211525, 0.55373727, 0.50893597, 0.40403924,
       0.3911038 , 0.46309842, 0.        , 0.2625    , 0.4375    ,
       0.2       , 0.225     , 0.50333913, 0.50217565, 0.45731124,
       0.29295978, 0.2       , 0.43720331, 0.        , 0.3375    ,
       0.4       , 0.25      , 0.3375    , 0.2       , 0.53699752,
       0.43552738, 0.3197593 , 0.25115609, 0.46113926, 1.        ,
       0.375     , 0.425     , 0.2625    , 0.275     , 0.30158638,
       0.51542725, 0.40634058, 0.26473496, 0.23945119, 0.45322434,
       1.        , 0.375     , 0.5375    , 0.325     , 0.4375    ,
       0.28766964, 0.56441771, 0.41200593, 0.31589266, 0.49510826,
       0.47702393, 1.        , 0.4375    , 0.5375    , 0.375     ,
       0.375     , 0.24222363, 0.5417322 , 0.40527758, 0.27736171,
       0.48909716, 0.50043452, 1.        , 0.4       , 0.4625    ,
       0.3125    , 0.325     , 0.38198272, 0.52360114, 0.39068166,
       0.2       , 0.52507565, 0.47221867, 1.        , 0.475     ,
       0.5       , 0.3625    , 0.5       , 0.39924591, 0.57696722,
       0.41055772, 0.28215812, 0.65432324, 0.48243652, 1.        ])

In [23]:
temp = []
a = np.array([1,2,3])
b = np.array([4,5,6])
temp.append(a)
temp.append(b)
temp = np.array(temp)
temp

array([[1, 2, 3],
       [4, 5, 6]])

In [24]:
stock_id = "2330"
start_date='2013-01-01'
end_date='2020-12-31'

# 股價日成交資訊
df = api.taiwan_stock_daily(
    stock_id = stock_id,
    start_date = start_date,
    end_date = end_date
)

#df
#dateArray = TaiwanStockPriceDay['date']
len(dateArray[dateArray > '2012-12-31'])

1962

In [31]:

TaiwanStockPriceDay['ratio'] = TaiwanStockMarginPurchaseShortSale['ShortSaleTodayBalance'] / TaiwanStockMarginPurchaseShortSale['MarginPurchaseTodayBalance']
TaiwanStockPriceDay['ratio']

0       0.780886
1       0.761233
2       0.763944
3       0.756562
4       0.758453
          ...
1991    0.016083
1992    0.015890
1993    0.016062
1994    0.020228
1995    0.025771
Name: ratio, Length: 1996, dtype: float64

In [33]:
print(TaiwanStockMarginPurchaseShortSale['ShortSaleTodayBalance'][14])
print(TaiwanStockMarginPurchaseShortSale['MarginPurchaseTodayBalance'][14])
TaiwanStockPriceDay['ratio'][14:34]

7779
16612

14    0.468276
15    0.472135
16    0.473608
17    0.587373
18    0.525673
19    0.606356
20    0.657085
21    0.554733
22    0.572523
23    0.501683
24    0.465108
25    0.481395
26    0.463098
27    0.437203
28    0.461139
29    0.453224
30    0.477024
31    0.500435
32    0.472219
33    0.482437
Name: ratio, dtype: float64